<div>
  <div id="meal_plan" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% meal_plan.meal_plan_weeks
         .includes(meal_plan_recipes: :user_recipe)
         .order(start_date: :asc)
         .each do |week| %>
      <%= render "meal_plans/week", week: week, entries: week.meal_plan_recipes, meal_plan: meal_plan %>
    <% end %>
  </div>

  <div id="add_week_button" class="mt-4">
    <button data-controller="add-week"
            data-action="click->add-week#addWeek"
            data-add-week-url-value="<%= add_week_meal_plan_path %>"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
      Add Next Week
    </button>
  </div>
</div> 