<div class="px-4">
  <div class="flex justify-end mb-4">
    <%= link_to 'New recipe', new_user_recipe_path,
                class: "bg-black text-white px-4 py-2 transition-colors",
                data: { action: "click->modal#open", turbo_stream: "" } %>
  </div>

  <h2 class="text-xl font-semibold mb-2">My recipes</h2>

  <div class="overflow-x-auto">
    <table class="min-w-full">
      <tbody id="recipe-table">
        <% @user_recipes.each do |user_recipe| %>
          <%= render "recipe_list_item", user_recipe: user_recipe %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>