<%= form_with model: recipe, method: :post, id: "recipe-form", data: { action: "turbo:submit-end->modal#submitEnd" }, class: "flex flex-col" do |f| %>

  <%= f.text_field :url, placeholder: "www.your-recipe-link.com", class: "mb-4" %>
  <%= f.select :status, Recipe.statuses.keys.map{ |key| [key.humanize, key] }, { include_blank: "Set status..."}, class: "mb-4" %>
  <%= f.submit "Add recipe", class: "text-almostblack py-2" %>

  <% if recipe.errors[:recipe_source].any? %>
    <div class="text-white">
      <% if recipe.errors[:recipe_source] === ["must exist"] %>
        <p>You need to provide a link to a recipe!</p>
      <% else %>
        <p>You have already added this recipe!</p>
      <% end %>
    </div>

  <% end %>
<% end %>

