<div class="grid grid-cols-5 gap-2">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe.url, target: :_blank, class: "even:col-span-2 odd:col-span-1 border-solid border border-black" do %>
        <div class="text-black p-4">
          <div>
            <img class="object-cover h-48 w-full" src=<%= recipe.image_url %>>
          </div>
          <div class="items-center gap-2">
            <h2><%= recipe.original_title %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
</div>