<div class="px-4">
  <div class="flex flex-row justify-end">
    <%= link_to 'New recipe', new_recipe_path, class: "text-white px-4 py-2", data: { action: "click->modal#open", turbo_stream: "" } %>
  </div>
  <h2>My recipes</h2>

  <table class="">
    <tbody id="recipe-table">
    <% @recipes.each do |recipe| %>
      <%= render "recipe", recipe: recipe %>
    <% end %>
    </tbody>
  </table>
</div>
