<% if notice %>
  <div class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-100 border border-green-400 text-green-700 px-6 py-4 rounded-lg shadow-lg z-50 min-w-[300px] text-center" role="alert" data-controller="flash">
    <p><%= notice %></p>
    <% if local_assigns[:link_path].present? %>
      <p class="mt-2">
        <%= link_to local_assigns[:link_text], local_assigns[:link_path], class: "underline" %>
      </p>
    <% end %>
  </div>
<% end %> 