<h1>What's cookin'?</h1>

<p>Get inspired by what other people are cooking!</p>

<h2>How does it work?</h2>

<p>- Add links to your favorite online recipes</p>
<p>- Keep track of what you "want to cook" and what you "cooked"</p>
<p>- Get inspired by what other people are adding and inspire others with your own list</p>

